# ignore paths

*.sw[aopnm]
*~
*.~lock*
*.orig
*.rej
*.DS_Store
*.directory
app/config/parameters.yml
app/config/local.yml
app/cache/*
app/logs/*

!.gitignore
!.gitkeep

web/js/build/*

#web/bundles/*
web/compiled
composer.lock
vendor
dist
